#menu{
  text-align: center;
  text-decoration: none;
  
}
#menu li{
  display: inline-block;
  font-size: 30px;
  padding-left:35px ;
  padding-right: 35px;
  border:solid #FFFFFF;
  border-radius: 20px;
}
menu li a:hover{
color: black;
}
#menu img{
  width:200px;
  padding-right: 1000px;
  padding-left:250px ;


}
iframe{
  display: flex ;
  margin: auto;
  
}
h2{
  font-family: "Nome da Fonte", sans-serif; 
}
h3{
  font-family: "Nome da Fonte", sans-serif; 
}
h2{
  display: flex;
  justify-content: center;
}
h4{
  font-size: 20px;
}
h6{
  font-size: 20px;
}
li a{
  text-decoration: none;
 color: black
}
.label-nome {
  color: rgb(255, 255, 255); /* Cor do texto para o label "Nome" */
}

.input-cores {
  color: rgb(255, 255, 255); /* Cor do texto para os inputs */
  background-color: #ffffff; /* Cor de fundo dos inputs */
}

.label-gmail {
  color: rgb(255, 255, 255); /* Cor do texto para o label "Gmail" */
}

.label-assunto {
  color: rgb(255, 255, 255); /* Cor do texto para o label "Assunto" */
}

.textarea-cores {
  color: rgb(255, 255, 255); /* Cor do texto para o textarea */
  background-color: #ffffff; /* Cor de fundo do textarea */
}
h2{
  font-size: 24px;
  padding-left:45px ;
  padding-right: 1500px;
}
.contato {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  min-height: 70vh;
}

.contato div {
  flex: 1;
  width: 100%;
}

form {
  width: 80%;
  margin: 0 auto;
}

input, textarea, button {
  width: 100%;
  resize: none;
  border: 1px solid var(--yellow-900);
  border-radius: 8px;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

label {
  font-family: var(--rl);
  margin-left: 8px;
  font-size: 1.25rem;
}

button {
  border-width: 2px;
  background-color: var(--yellow-600);
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}

button:hover {
  transition: background .3s;
  background-color: var(--yellow-900);
}

.mapa {
  width: 80%;
  margin: 0 auto;
  display: block;
  aspect-ratio: 16/9;
}

footer {
  text-align: center;
  padding: 1rem;
  border-top: 2px solid var(--yellow-900);
}

/* tudo que for colocado aqui pra baixo, é valido para telas menores de 1000px */
@media (max-width: 1000px) {
  .banner {
    flex-direction: column-reverse;
  }

  .contato {
    gap: 2rem;
  }
}
