#menu{
  text-align: center;
  text-decoration: none;
  
}
#menu li{
  display: inline-block;
  font-size: 30px;
  padding-left:35px ;
  padding-right: 35px;
  border:solid #FFFFFF;
  border-radius: 20px;
}
#menu img{
  width:200px;
  padding-right: 1000px;
  padding-left:250px ;


}
iframe{
  display: flex ;
  margin: auto;
}
h2{
  font-family: "Nome da Fonte", sans-serif; 
}
h3{
  font-family: "Nome da Fonte", sans-serif; 
}
h2{
  display: flex;
  justify-content: center;
}
h4{
  font-size: 20px;
}
h6{
  font-size: 20px;
}
